<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="panel panel-default login-pane">
        <div class="panel-header text-center">
          <h4>
            <strong>
              LOGIN HERE
            </strong>
          </h4>
        </div>
        <div class="panel-body">
          <div class="form">
            <input type="text" class="form-control" placeholder="Username" required>
            <input type="password" class="form-control m-t" placeholder="Password" required>
            <a class="btn btn-primary btn-block m-t" href="/home">
              LOGIN
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
