<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>
          Shop Online
        </h2>
      </div>
    </div>
    <div class="col-xs-12"></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/home/men">Men</a></li>
              <li><a href="/home/women">Women</a></li>
              <li><a href="/home/kids">Kids</a></li>
              <li><a href="/home/appliances">Appliances</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              Sign Up
            </a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="m-r">0</span>
            </a>
          </li>
        <ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/home/men">
                <%= image_tag("shop-men.jpg", :class => "img-responsive cat-image") %>
              </a>
            </div>
            <div class="col-xs-12 text-center">
              <a href="/home/men">
                <h4>
                  SHOP MEN
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/home/women">
                <%= image_tag("shop-women.jpg", :class => "img-responsive cat-image") %>
              </a>
            </div>
            <div class="col-xs-12 text-center">
              <a href="/home/women">
                <h4>
                  SHOP WOMEN
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/home/kids">
                <%= image_tag("shop-kids.jpg", :class => "img-responsive cat-image") %>
              </a>
            </div>
            <div class="col-xs-12 text-center">
              <a href="/home/kids">
                <h4>
                  SHOP KIDS
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/home/appliances">
                <%= image_tag("shop-appliances.jpg", :class => "img-responsive cat-image") %>
              </a>
            </div>
            <div class="col-xs-12 text-center">
              <a href="/home/appliances">
                <h4>
                  SHOP APPLIANCES
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
