<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>
          Shop Online
        </h2>
      </div>
    </div>
    <div class="col-xs-12"></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/home/men">Men</a>
              </li>
              <li><a href="/home/women">Women</a></li>
              <li><a href="/home/kids">Kids</a></li>
              <li><a href="/home/appliances">Appliances</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              Sign Up
            </a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="m-r">0</span>
            </a>
          </li>
        <ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @product_details.each do |prod| -%>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-1">
                <%= image_tag(prod.image_url, :class => "img-responsive prod-image") %>
              </div>
              <div class="col-xs-9">
                <div class="row">
                  <h4>
                    <%= prod.name %>
                  </h4>
                </div>
                <div class="row">
                  Quantity 1
                </div>
                <div class="row">
                  <span>Price: </span>
                  <%= prod.price.to_s + " $" %>
                </div>
              </div>
              <div class="col-xs-2">
                <a class="btn btn-primary btn-block" href="">
                  ADD TO CART
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
